*{
    margin: 0px;
    padding: 0px;
}

.home-container{
    height: 100%;
}
.home-segment{
    height:70%;
}
/* 
.editor-btn{
    display: inline-table;
    float: right;
} */

#react{
    height: 100%;
}

